@font-face {
    font-family: "lcd-text";
    /* TODO: Need some way to inject not just CSS, but template components
       so these can be done with the use of temlate tags */
    font-weight: 700;

    src: url("/static/cypherpunk/fonts/PixelifySans-VariableFont_wght.ttf");
}

/* #nilpoint-container { */
/* } */

/* The parent container holding the row of divs */
.cypherpunk-deck {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 400px;
    width: 100%;
    overflow-x: auto;
}

/* The structural wrapper frame (Must match HTML spelling) */
.cypherpunk-module-slot {
    height: 100%; /* Explicitly match deck height */
    aspect-ratio: 4 / 3; /* Mandate the 4:3 ratio shape */
    flex-shrink: 0; /* Don't let flexbox crush its width */
}

/* The inner content returned by HTMX */
.cypherpunk-module {
    width: 100%; /* Fill 100% of the slot's width */
    height: 100%; /* Fill 100% of the slot's height */

    padding: 0px; /* Padding will be different per module, so should be set by the
   module content container */

    /* Background settings handle the image inside the module */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Module Styles */

.cypherpunk-help-module-content {
    padding-top: 2.8rem;
    padding-left: 3rem;
    padding-right: 1.8rem;
}

.cypherpunk-help-module-content p {
    color: rgb(80, 250, 80);
    text-shadow:
        0px 0px 10px rgb(0, 0, 0),
        4px 4px 1px rgba(38, 62, 40, 0.7);
    background-color: rgba(0, 50, 0, 0.1);
    font-family: "lcd-text", monospace;
    letter-spacing: 0.12em;
    word-spacing: 0.5em;
    margin-bottom: 0.15rem;
}
